* {
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
  }
  #header-title {
      font-size: 80px;
  }

  header{
      padding: 10px;
      font-size: 50px;
  }

  #js-home-form {
      text-align: center;
  }

  .js-bookmarks-list{
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .form-check{
    margin: 5px;
  }

  .js-adding{
      margin-bottom: 15px;
      margin-top: 25px;

  }

  .rating {
      font-size: 20px;
  }

  .li-description {
      margin-bottom: 15px;
  }

  body {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  #shopping-list-item {
    width: 250px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .shopping-list {
    list-style: none;
    padding-left: 0;
  }
  
  .shopping-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
  }
  
  .shopping-item {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .shopping-item__checked {
    text-decoration: line-through;
  }